.columns > div {
  display: flex;
  flex-direction: column;
 
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}
.redleft > div > div:first-child h2,
.redleft > div > div:first-child p:not(.button-container) {
  border-left: 4px solid red;
  padding-left: 16px;
}

.redleft h2,
.redleft p:not(.button-container) {
  border-left: 4px solid red;
  padding-left: 16px;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 35px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
